// About Section

.about {

	position: relative;
	padding: 50px 50px 50px 0;
	margin: 100px 0;

	&:before {
		content: '';
		height: 56px;
		width: 100%;
		background: url('/images/divider-grey.png');
		position: absolute;
		left: 0;
		top: -56px;
	}

	&:after {
		content: '';
		height: 56px;
		width: 100%;
		background: url('/images/divider-white.png');
		position: absolute;
		left: 0;
		bottom: 0;
	}

}

.about p {
	max-width: 960px;
	margin: 0 auto;
	padding: 0.5em 5em;
}

@media (max-width: 550px) {
	.about p {
		padding: 0.5em 2em;
	}
}

@media (max-width: 430px) {
	.about p {
		padding: 0.5em 1em;
	}
}
.about-logos{
	text-align: center;
	margin-bottom: 60px !important;
	margin-top: 30px !important;
	a{
		text-decoration: none;
		margin: 0 20px;
	}
}
@media (max-width: 959px) {
	.about-logos a img{
		margin-bottom: 30px;
	}
}