.contact-wrapper {
	max-width: 960px;
	margin: 0 auto 50px;
	background: $light-gold;
	border-radius: $large-border-radius;
}

@media (max-width: 959px) {

	.contact-wrapper {
		border-radius: 0;
	}

}

.contact-information{
	width: 50%;
	float: left;
	position: relative;
	padding-top: 100px;
}

@media (max-width: 959px) {

	.contact-information {
		width: 100%;
		padding: 50px 0;
	}

}

.contact-icons-list {

	margin: 1em auto;
	width: 390px;

	@extend %list-reset;

}

@media (max-width: 449px) {

	.contact-icons-list {
		width: 195px;
	}

}

.contact-icons__list-item {
	float: left;
	width: 55px;
	height: 55px;
	margin: 5px;

	a {
		display: block;
		height: 55px;
		width: 55px;

		&:hover .contact-icons-list__text,
		&:focus .contact-icons-list__text,
		&.active .contact-icons-list__text {
			letter-spacing: 0px;
			color: #fff;
			z-index: 20;
		}
	}
}

.contact-icons-list__icon {
	width: 55px;
	height: 55px;
	border-radius: 100%;
	display: inline-block;
	background: $dark-gold;
}

.contact-icons-list__text {
	position: absolute;
	top: 40px;
	left: 40px;
	width: 880px;
	z-index: 10;
	text-align: center;
	color: rgba(255,255,255,0);
	font-size: 16px;
	background: $dark-gold;
	padding: 1em;
	box-sizing: border-box;
	border-radius: $small-border-radius;
	letter-spacing: -10px;
	transition: ease-in-out $animation-fast;
}

@media (max-width: 959px) {
	.contact-icons-list__text {
		display: none;
	}
}
.contact-icons__list-item--address .contact-icons-list__icon {
	background-image: url('/images/social-media-icons-sprite.svg');
	background-repeat: no-repeat;
	background-size: 330px;
}

.contact-icons__list-item--phone .contact-icons-list__icon {
	background-image: url('/images/social-media-icons-sprite.svg');
	background-repeat: no-repeat;
	background-size: 330px;
	background-position: -55px 0;
}

.contact-icons__list-item--email .contact-icons-list__icon {
	background-image: url('/images/social-media-icons-sprite.svg');
	background-repeat: no-repeat;
	background-size: 330px;
	background-position: -110px 0;
}

.contact-icons__list-item--twitter .contact-icons-list__icon {
	background-image: url('/images/social-media-icons-sprite.svg');
	background-repeat: no-repeat;
	background-size: 330px;
	background-position: -165px 0;
}

.contact-icons__list-item--facebook .contact-icons-list__icon {
	background-image: url('/images/social-media-icons-sprite.svg');
	background-repeat: no-repeat;
	background-size: 330px;
	background-position: -220px 0;
}

.contact-icons__list-item--instagram .contact-icons-list__icon {
	background-image: url('/images/social-media-icons-sprite.svg');
	background-repeat: no-repeat;
	background-size: 330px;
	background-position: -275px 0;
}

.contact-icons__list-item--address a:hover .contact-icons-list__icon,
.contact-icons__list-item--address a:focus .contact-icons-list__icon,
.contact-icons__list-item--address a.active .contact-icons-list__icon {
	background-position: 0 -55px;
	outline: none;
}

.contact-icons__list-item--phone a:hover .contact-icons-list__icon,
.contact-icons__list-item--phone a:focus .contact-icons-list__icon,
.contact-icons__list-item--phone a.active .contact-icons-list__icon {
	background-position: -55px -55px;
	outline: none;
}

.contact-icons__list-item--email a:hover .contact-icons-list__icon,
.contact-icons__list-item--email a:focus .contact-icons-list__icon,
.contact-icons__list-item--email a.active .contact-icons-list__icon {
	background-position: -110px -55px;
	outline: none;
}

.contact-icons__list-item--twitter a:hover .contact-icons-list__icon,
.contact-icons__list-item--twitter a:focus .contact-icons-list__icon,
.contact-icons__list-item--twitter a.active .contact-icons-list__icon {
	background-position: -165px -55px;
	outline: none;
}

.contact-icons__list-item--facebook a:hover .contact-icons-list__icon,
.contact-icons__list-item--facebook a:focus .contact-icons-list__icon,
.contact-icons__list-item--facebook a.active .contact-icons-list__icon {
	background-position: -220px -55px;
	outline: none;
}

.contact-icons__list-item--instagram a:hover .contact-icons-list__icon,
.contact-icons__list-item--instagram a:focus .contact-icons-list__icon,
.contact-icons__list-item--instagram a.active .contact-icons-list__icon {
	background-position: -275px -55px;
	outline: none;
}

.contact-information__text {
	text-align: center;
	color: $dark-gold;
	text-transform: uppercase;
	font-size: $medium-font-size;
	margin: 1.25em 0 0;

	strong {
		display: block;
		color: white;
		font-size: 50px;
	}

}

@media (max-width: 959px) {

	.contact-information__text {
		display: none;
	}

}

.google-map {
	width: 50%;
	height: 480px;
	float: left;
	border-radius: 0 10px 10px 0;
}

@media (max-width: 959px) {

	.google-map {
		display: none;
	}

}

.fa-github-alt:before{
	color: #E2DDD5;
	font-size: 34px;
	margin: 0 12px;
	top: 9px;
	position: relative;
	&:hover{
		color: #fff !important;
	}
}
