.contact-wrapper {
	width: 960px;
	margin: 0 auto 50px;
	background: $light-gold;
	border-radius: 10px;
}

.contact-information{
	width: 480px;
	float: left;
}

.google-map {
	width: 480px;
	height: 480px;
	float: left;
}