// Team Section

.team-members__list {
	@extend %list-reset;
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

.team-members__list-item {
	display: inline-block;
	width: 24%;
	margin: 0 3px;
}

@media (max-width: 959px) {
	.team-members__list-item {
		display: inline-block;
		float: none;
	}
	.team-members__list-item--max{
		margin-top: 0 !important;
	}
}
.team-members__list-item--max{
	text-align: center;
	margin-top: 40px;
}
.team-member__portrait {
	width: 220px;
	height: 220px;
	border-radius: 100%;
	margin: 5px;
	display: block;
	background: $lighter-grey no-repeat;
	background-size: 220px;

	&.team-member__portrait--paul {
		background-image: url('/images/paul.png');
	}

	&.team-member__portrait--rob {
		background-image: url('/images/rob.png');
	}

	&.team-member__portrait--john {
		background-image: url('/images/john.png');
	}

	&.team-member__portrait--alan {
		background-image: url('/images/alan.png');
	}

	&.team-member__portrait--max {
		background-image: url('/images/you.png');
	}

}

.team-member__name {
	@extend %sub-title;
}

.team-member__title {
	color: $orange;
	font-size: $small-font-size;
	text-transform: uppercase;
	margin: 0;
}

.team-member__contact {
	color: $light-grey;
	margin: 0;
	display: block;
	text-decoration: none;

	transition: ease-in-out $animation-fast;

	&:hover,
	&:focus {
		letter-spacing: 2px;
		color: $medium-grey;
		outline: none;
	}

}

@media (max-width: 999px) {

	.team-members__list-item {
		width: 100%;
	}
	
	.team-member__portrait {
		margin: 20px auto;
	}


}