// Team Section

.team-members__list {
	@extend %list-reset;
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

.team-members__list-item {
	display: inline-block;
	width: 24%;
	margin: 0 3px;
}

@media (max-width: 959px) {
	.team-members__list-item {
		display: inline-block;
		float: none;
	}
	.team-members__list-item--max{
		margin-top: 0 !important;
	}
}
.team-members__list-item--max{
	text-align: center;
	margin-top: 40px;
}
.team-member__portrait {
	width: 220px;
	height: 220px;
	border-radius: 100%;
	margin: 5px;
	display: block;
	background: $lighter-grey no-repeat;
	background-size: 220px;

	&.team-member__portrait--paul {
		background-image: url('/images/paul.png');
	}

	&.team-member__portrait--rob {
		background-image: url('/images/rob.png');
	}

	&.team-member__portrait--john {
		background-image: url('/images/john.png');
	}

	&.team-member__portrait--alan {
		background-image: url('/images/alan.png');
	}

	&.team-member__portrait--max {
		background-image: url('/images/you.png');
	}

}

.team-member__name {
	@extend %sub-title;
}

.team-member__title {
	color: $orange;
	font-size: $small-font-size;
	text-transform: uppercase;
	margin: 0;
}

.team-member__contact {
	color: $light-grey;
	margin: 0;
	display: block;
	text-decoration: none;

	transition: ease-in-out $animation-fast;

	&:hover,
	&:focus {
		letter-spacing: 2px;
		color: $medium-grey;
		outline: none;
	}

}

@media (max-width: 999px) {

	.team-members__list-item {
		width: 100%;
	}
	
	.team-member__portrait {
		margin: 20px auto;
	}


}
.video-wrapper{
	width: 220px;
	height: 220px;
	-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); 
	-webkit-transform: rotate(0.000001deg); 
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%;
	border-radius: 50%; 
	overflow: hidden; 
}
#video{
	margin-left: -45px;
	margin-top: -40px;
	filter: url(#blackandwhite);
}
#snap, #startCamera{
	opacity: 0;
	margin-top: -50px;
	background: rgba(222,142,25,0.5);
	border: none;
	position: absolute;
	z-index: 999;
	margin-left: -57px;
	padding: 5px 10px;
	border-radius: 10px;
	color: #fff;
	font-style: normal;
	text-transform: uppercase;
	font-size: 14px;
	transition: ease-in-out $animation-slow;
	display: none;
}
#startCamera{
	opacity: 1;
	display: initial;
	margin-top: -80px;
	margin-left: -65px;
	transition: ease-in-out $animation-slow;
}
.filter-btn{
	position: absolute;
	display: none;
	width: 240px;
	height: 220px;
	background: transparent;
	border: none;
	margin-top: -220px;
	margin-left: -120px;
	transition: ease-in-out $animation-slow;
}
.filter-btn:focus, #snap{
	outline: 0;
}
.filter-btn:after{
	content: "\2190 Click to change filter";
	color: #b4b4b4;
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
	margin-left: 90px;
	position: absolute;
	width: 240px;
	font-style: normal;
	transition: ease-in-out $animation-slow;
}
@media (max-width: 680px){
	.filter-btn:after{
		content: "\2190 Tap to change filter";
		transform: rotate(90deg);
		transform-origin: left top 0;
		margin-left: 118px;
		margin-top: 22px;

	}
}
#canvas{
	pointer-events: none;
	border-radius: 50%;
	margin-left: -200px;
	margin-top: -220px;
	position: absolute;
	margin-left: -110px;
	opacity: 0;
}