
/**
 * Navigation
 */

.main-navigation {
	float: right;
	margin-right: 60px;
}

.main-navigation__list {
	@extend %list-reset;
}

.main-navigation__list-item {

	float: left;

	a {
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		transition: ease-in-out $animation-fast;
		padding: 1.25em 1.5em 1.25em 0;
		display: block;

		&:hover,
		&:focus {
			color: rgba(0,0,0,0.3);
		}

	}

}

.scroll-to-top {

	width: 30px;
	height: 30px;
	display: block;
	position: fixed;
	bottom: 5px;
	right: 10px;
	background: url('/images/to-top-arrow.svg') no-repeat;
	background-size: 60px;
	z-index: 150;
	opacity: 0;

	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);

	transition: opacity ease-in-out $animation-slow;

	&:hover,
	&:focus {
		background-position: -30px 0;
	}

	&.visible {
		opacity: 1;
	}

}

// =====================
// Responsive Navigation
// =====================


.js .main-navigation__toggle-button {
	display: none;
}

@media (max-width:959px) {

	.main-navigation {
		float: left;
		margin-left: 1em;
	}

	.js .main-navigation__list {
		float: left;
	}

	.main-navigation__list-item a {
		padding: 1.25em 0 1.25em 0.5em;
	}

	.js .main-navigation__toggle-button {
		cursor: pointer;
		display: block;
		float: left;
		width: 30px;
		height: 30px;
		margin: 15px 0 0 0;
		border: none;
		background: url('/images/navigation-menu-sprite.svg') no-repeat;
		background-size: 120px;

		&:hover,
		&:focus {
			background-position: -30px 0;
			outline: none;
		}

		&.main-navigation__toggle-button--active {
			background-position: -60px 0;
		}

		&.main-navigation__toggle-button--active:hover,
		&.main-navigation__toggle-button--active:focus {
			background-position: -90px 0;
		}

	}

	.js .main-navigation__list a {
		
		visibility: hidden;
		letter-spacing: -10px;
		color: rgba(255,255,255,0);

		&:hover,
		&:focus {
			color: rgba(255,255,255,0);
		}

	}

	.js .main-navigation__list--visible a {
		
		visibility: visible;
		letter-spacing: 0;
		color: #fff;

		&:hover,
		&:focus {
			color: rgba(0,0,0,0.3);
		}

	}

}

@media (max-width:640px) {
	.js .main-navigation__list a {
		font-size: 12px;
	}
}
